$spacer: 16px;

.tracker-container {
    display: grid;
    grid-template-rows: auto auto;
}

.input-container {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-container {
    text-align: center;
    background: url('../assets/pattern-bg-desktop.png');
}

form {
    padding-bottom: 100px;
}

form div {
    max-width: 500px;
    display: inline-flex;
}

.tracker-container span div:nth-child(1) {
    font-size:10px;
    color: gray;
    font-weight: bold;
}

.tracker-container span div:nth-child(2) {
    font-size:16px;
    font-weight: bold;
    padding-top: 5px;
}

.tracker-container p:last-child {
    display: none !important;
}

.dialog-start {
    padding: 30px;
    max-width: 200px;
    :last-child {
        // display: none;
    }
}

.dialog-container {
    top: 175px;
    place-self: center;
}

@media only screen and (max-width: 354px) {
    .dialog-container {
        flex-direction: column;
        top: 147px;
    }

    .tracker-container p {
        display: none;
    }

    .dialog-start {
        padding: 10px 20px;
    }
}
