<div class="bg-light mt-auto mb-auto">
  <div class="tracker-container position-relative">
    <div
      class="d-flex dialog-container bg-light position-absolute border border-light rounded px-2 py-2"
      style="z-index: 2000; max-width: 800px"
    >
      <ng-container *ngFor="let info of data | keyvalue: orderOriginal">
        <div class="dialog-start">
          <span>
            <div>{{ info.key | uppercase }}</div>
            <div>{{ info.value }}</div>
          </span>
        </div>
        <p class="d-block border-start"></p>
      </ng-container>
    </div>
    <div class="search-container">
      <div class="text-light fw-bold fs-4 pt-3 pb-3">IP Address Tracker</div>
      <form #searchForm="ngForm" (ngSubmit)="searchSubmit(searchForm.value)">
        <div class="input-group mb-3">
          <input
            name="searchValue"
            type="text"
            class="form-control"
            style="height: 50px"
            placeholder="Search for any IP address or domain"
            [ngModel]="searchValue"
            required
          />
          <button type="submit" [disabled]="!searchForm.valid" class="btn btn-dark" style="width: 50px" type="submit">
            <img src="../assets/icon-arrow.svg" alt="enter" />
          </button>
        </div>
      </form>
    </div>
    <div class="map-container">
      <app-map [ipaddressvalue]="searchValue" (passIPValue)="getIPDetails($event)"></app-map>
    </div>
  </div>
</div>
